assets filter=lfs diff=lfs merge=lfs -text
assets/images/rag1ui.png filter=lfs diff=lfs merge=lfs -text
assets/** filter=lfs diff=lfs merge=lfs -text
assets/gif/rag1ui.gif filter=lfs diff=lfs merge=lfs -text
